a {
	transition: color 0.5s, background-color 0.5s;
}

.angular-smooth-anim {
	opacity: 1 !important;
}

.angular-smooth-anim.ng-hide {
	opacity: 0 !important;
}

.angular-smooth-anim.ng-hide-remove.ng-hide-remove-active {
	display:none !important;
}

.angular-smooth-anim {
	transition: all 0.25s ease-in-out;
}

.header-title {
	font-weight: bold;
	color: #1b82b4;
}

.edit-text-box {
	min-height:36px;
	padding:5px;
}

.cart-title {
	color: #25a7cd;
	font-weight: bold;
	padding-left: calc(50% - 40px);
	margin: 0 0 25px 0;
}

.color-preview {
	border: 2px solid #FFF;
	box-shadow: 0px 0px 5px #888;
	margin: 2px;
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	width: 27px;
	height: 27px;
}

.color-container {
	/*margin: 10px 3px;*/
	padding: 0;
	display: inline-block;
}

.btn-addcart {
	color: #fff;
	background-color: #39ce79;
	border-bottom-color: #308B5F;
	border-top-color: #A4F6CE;
	width: 100%;
}

.btn-addcart:hover, .btn-addcart:focus {
	color: #fff;
	background-color: #4edc8a;
}

.input-file-container input {
	position: relative;
	margin-left: -16px;
	margin-top: -33px;
	padding-bottom: 16px;
	margin-bottom: -8px;
	width: calc(100% + 32px);
	opacity: 0;
	cursor: pointer;
}

.input-file-container input:hover{
	cursor: pointer;
}

#colorpick-outer {
	background-color: #000;
}

#colorpick-inner {
	width: 22px;
	height: 22px;
	margin: 0;
	padding: 0;
	display: block;
	background-image: url('../img/colorPickOver.png');
}

.behind-product {
	background-color: #ffffff;
	background-image: url('../img/crew_front.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 95px 160px;
}

.btn-group-mar {
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn-side {
	margin-left: calc(50% - 90px);
	margin-top: -75px;
}

.upper-canvas:hover {
	border: 1px solid #333;
}

.navbar-inverse {
	background-color: #222;
	border-color: #FFFFFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 0px;
}

.font-dropdown {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	text-align: left;
	cursor: initial;
	width: 100%;
	background-color: #fff !important;
	border-color: #ccc !important;
	padding-left: 3px;
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 10px;
}

#fontSelector {
	overflow-y: scroll;
	max-height: 320px;
	margin-top: 0;
	width: calc(100% + 40px);
	margin-left: -40px;
}

.show-cart {
	margin-top: 8px;
	padding: 5px 10px;
	float: right;
}

.select-font {
	cursor: pointer;
}

.tr-header > td {
	color: #bababa;
}

.product-homepage{
	padding-left: 0px;
}

.product-homepage li{
	font-size: 24px;
	margin-right: 10px;
}

.canvas-container:hover .lower-canvas{
  border: 2px solid #FFF;
}

.over-title{
	display: block;
	position:relative;
	text-align: center;
	top: -10px;
	opacity: 0.0;

	transition: all 0.4s ease-in-out;
}

.thumbnail:hover .over-title{
	opacity: 1.0;
	top: 0px;
}











#myCarousel .thumbnail {
	margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control {
	color:#fff;
	top:40%;
	color:#428BCA;
	bottom:auto;
	padding-top:4px;
	width:30px;
	height:30px;
	text-shadow:none;
	opacity:1;
}
.carousel-control:hover {
	color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
}
.carousel-control.right {
	left:auto;
	right:-32px;
}
.carousel-control.left {
	right:auto;
	left:-32px;
}

.carousel-indicators {
	bottom:-30px;
}
.carousel-indicators li {
	border-radius:0;
	width:10px;
	height:10px;
	background:#ccc;
	border:1px solid #ccc;
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	background:#3276b1;
	border-color:#3276b1;
}


/* CUSTOM GRID VIEW */

.cs-grid-items{
	overflow: hidden;
}

.cs-grid-items > li{
	transition: all 0.5s ease-in-out;
	top: 0px;
	left: 0px;
	margin: 5px;
	height: 200px;
	width: 300px;
	position:absolute;
	list-style-type: none;
	opacity: 1;
	box-shadow: 0px 0px 2px 1px #333;
	border: 1px solid rgba(255,255,255,0.3);
}

.grid-items-content{
	color: white;
	text-shadow: 0px 0px 6px #333;
	position: relative;
	top: 80%;
	left: 40%;
	font-size: 16px;
	font-weight: bold;
}

/* CUSTOM GRID VIEW  END */


.footer-container {
  border-top-color: rgb(119, 119, 119);
  border-top-style: none;
  border-top-width: 0px;
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(119, 119, 119);
  display: block;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 50px;
  line-height: 13px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(119, 119, 119);
  outline-style: none;
  outline-width: 0px;
  position: fixed;
  text-align: center;
  width: 1334px;
  z-index: 5;
}
.footer {
box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 50px;
line-height: 13px;
outline-color: rgb(119, 119, 119);
outline-style: none;
outline-width: 0px;
text-align: center;
width: 1334px;
}
.footer-bottom {
  background-color: rgba(255, 255, 255, 0.85098);
box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 50px;
line-height: 40px;
min-height: 50px;
outline-color: rgb(119, 119, 119);
outline-style: none;
outline-width: 0px;
padding-bottom: 5px;
padding-left: 0px;
padding-right: 0px;
padding-top: 5px;
text-align: center;
width: 1334px;
}
.social-icons {
  box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
float: left;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 40px;
line-height: 40px;
outline-color: rgb(119, 119, 119);
outline-style: none;
outline-width: 0px;
text-align: center;
width: 210px;
}

.custom-block {
  box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
float: left;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 40px;
line-height: 40px;
margin-left: 20px;
outline-color: rgb(119, 119, 119);
outline-style: none;
outline-width: 0px;
text-align: center;
width: 359px;
}

.image-carousel{
	min-height: 300px;
}

.bgimage {
	text-align:right;
	color:white;
	background-size:cover;
	height: 100%;
	background-position: center center;
}

input[type=range] {
	width: 300px; }

	ul[rn-carousel] {
		overflow: hidden;
		padding: 0;
		white-space: nowrap;
		position: relative;
		-webkit-perspective: 1000px;
		-ms-perspective: 1000px;
		perspective: 1000px;
		-ms-touch-action: pan-y;
		touch-action: pan-y; }
		ul[rn-carousel] > li {
			color: black;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			overflow: visible;
			vertical-align: top;
			position: absolute;
			left: 0;
			right: 0;
			white-space: normal;
			padding: 0;
			margin: 0;
			list-style-type: none;
			width: 100%;
			height: 100%;
			display: inline-block; }

			/* prevent flickering when moving buffer */
			ul[rn-carousel-buffered] > li {
				display: none;
			}

			ul[rn-carousel-transition="hexagon"] {
				overflow: visible;
			}

			/* indicators */
			div.rn-carousel-indicator span
			{
				cursor: pointer;
				color: #ddd;
				margin-right: 3px;
			}

			div.rn-carousel-indicator span.active
			{
				color: #666;
			}

			/* prev/next controls */
			.rn-carousel-control {
				-webkit-transition: opacity 0.2s ease-out;
				transition: opacity 0.2s ease-out;
				font-size: 2rem;
				position: absolute;
				top: 40%;
				opacity: 0.75;
				cursor: pointer;
			}
			.rn-carousel-control:hover {
				opacity: 1;
			}
			.rn-carousel-control.rn-carousel-control-prev {
				left: 0.5em;
			}
			.rn-carousel-control.rn-carousel-control-prev:before {
				content: "<";
			}
			.rn-carousel-control.rn-carousel-control-next {
				right: 0.5em;
			}
			.rn-carousel-control.rn-carousel-control-next:before {
				content: ">";
			}
