<div style="text-align: center;">
  <h1>It Starts with the Perfect Product</h1>

  <p style="padding: 10px 20%;">Our team tests every style and color for impeccable printability, durability, and fit. Find over 400 styles in your favorite brands to customize for any group or event.</p>

  <a href="javascript:;">BROWSE THE PRODUCT CATALOG</a>
</div>





    <hr>



<div class="row">
  <div class="col-xs-6 col-md-3" ng-repeat="product in mainCtrl.productList">
    <a href="/designer/{{product.path}}" class="thumbnail">
      <img src="{{product.image}}" alt="{{product.name}}" style="height: 180px; display: block; background-size: cover;" onerror="if (this.src != 'http://placehold.it/180') this.src = 'http://placehold.it/180';">
      <span class="over-title">{{product.name}}</span>
    </a>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <ul class="product-homepage list-inline">
      <li ng-repeat="product in mainCtrl.productCompleteList"><a href="/product?type={{product.path}}">{{product.name}}</a></li>
    </ul>
  </div>
</div>

<hr>


<!--
<img data-src="holder.js/100%x180" alt="100%x180" src="{{product.test}}" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU0Njg3NSIgeT0iOTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNzF4MTgwPC90ZXh0PjwvZz48L3N2Zz4="
-->
