
<div class="carousel-inner">

<div class="fill" style="width:100%;height:150px;background-image:url('https://www.e3prints.com/img/carousel1.jpg');">
  <div class="carousel-caption">
            <h1 style="text-shadow:-1px -1px 0 #000,  1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;">It Starts with the Perfect Product</h1>
  </div>
</div>

</div>
<div class="container">
<div style="text-align: center;">
  <!-- <h1>It Starts with the Perfect Product</h1> -->

  <p style="padding: 10px 20%;">Our team tests every style and color for impeccable printability, durability, and fit. Find over 400 styles in your favorite brands to customize for any group or event.</p>
  <!-- <a href="javascript:;">BROWSE THE PRODUCT CATALOG</a> -->
</div>
<hr>
<div class="row">
  <div class="col-xs-6 col-md-3" ng-repeat="product in mainCtrl.productList">
    <a href="/designer/{{product.category}}/{{product.path}}" class="thumbnail">
      <img src="{{product.image}}" alt="{{product.name}}" style="height: 180px; display: block; background-size: cover;" onerror="if (this.src != 'http://placehold.it/180') this.src = 'http://placehold.it/180';">
      <span class="over-title">{{product.name}}</span>
    </a>
  </div>
</div>
<hr>
<!--
<div class="row">
  <div class="col-xs-12">
    <ul class="product-homepage list-inline">
      <li ng-repeat="product in mainCtrl.productCompleteList"><a href="/product?type={{product.path}}">{{product.name}}</a></li>
    </ul>
  </div>
</div>

<hr>
-->

<!--

<img data-src="holder.js/100%x180" alt="100%x180" src="{{product.test}}" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU0Njg3NSIgeT0iOTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNzF4MTgwPC90ZXh0PjwvZz48L3N2Zz4="

-->
<style>
.footer-container {
  border-top-color: rgb(119, 119, 119);
  border-top-style: none;
  border-top-width: 0px;
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(119, 119, 119);
  display: block;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 50px;
  line-height: 13px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: rgb(119, 119, 119);
  outline-style: none;
  outline-width: 0px;
  position: fixed;
  text-align: center;
  width: 1334px;
  z-index: 5;
}
.footer {
box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 50px;
line-height: 13px;
outline-color: rgb(119, 119, 119);
outline-style: none;
outline-width: 0px;
text-align: center;
width: 1334px;
}
.footer-bottom {
  background-color: rgba(255, 255, 255, 0.85098);
box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 50px;
line-height: 40px;
min-height: 50px;
outline-color: rgb(119, 119, 119);
outline-style: none;
outline-width: 0px;
padding-bottom: 5px;
padding-left: 0px;
padding-right: 0px;
padding-top: 5px;
text-align: center;
width: 1334px;
}
.social-icons {
  box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
float: left;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 40px;
line-height: 40px;
outline-color: rgb(119, 119, 119);
outline-style: none;
outline-width: 0px;
text-align: center;
width: 210px;
}

.custom-block {
  box-sizing: border-box;
color: rgb(119, 119, 119);
display: block;
float: left;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 40px;
line-height: 40px;
margin-left: 20px;
outline-color: rgb(119, 119, 119);
outline-style: none;
outline-width: 0px;
text-align: center;
width: 359px;
}
</style>

<div class="footer-container  fixed-position">
  <div class="footer">
    <div class="footer-bottom">
      <div class="container">
        <div class="social-icons">
          <a href="https://www.facebook.com/" style="background-position:-60px 0; width:30px; height:30px;" class="icon1-class" title="Facebook">Facebook</a>
          <a href="https://twitter.com/" style="background-position:0 0; width:30px; height:30px;" class="icon2-class" title="Twitter">Twitter</a>
          <a href="https://twitter.com/" style="background-position:0 0; width:30px; height:30px;" class="icon2-class" title="Twitter">Pinterest</a>
        </div>
        <div class="custom-block">
          <img src="/img/payments.png" alt="" style="max-width: 100%;"> 
        </div>                    
        <div class="custom-block text-muted">
          <ul class="copyright list-unstyled list-inline text-muted">
              <li>Copyright © 2015 ShirtNexus.com</li>
              <li>All Rights Reserved.</li>
          </ul>
        </div>            
        
      </div>
    </div>
  </div>
</div>
<!--
<footer class="footer">
      <div class="container">
        <div class="social-icons">
          <a href="https://www.facebook.com/stood.laptop.stand" style="background-position:-60px 0; width:30px; height:30px;" class="icon1-class" title="Facebook">&nbsp;</a>
          <a href="https://twitter.com/getstood" style="background-position:0 0; width:30px; height:30px;" class="icon2-class" title="Twitter">&nbsp;</a>
        </div>
        <div class="custom-block">
          <img src="http://shop.stood.it/media/wysiwyg/smartwave/footer/payments.png" alt="" style="max-width: 100%;">
        </div>
        <div class="text-center">
          <ul class="copyright list-unstyled list-inline text-muted">
              <li>Copyright © 2015 ShirtNexus.com</li>
              <li>All Rights Reserved.</li>
          </ul>
        </div>
      </div>
  </footer>
  -->
  </div>