
<div class="carousel-inner">

<div class="fill" style="width:100%;height:150px;background-image:url('/img/shirtback3-compressor.png');">
  <div class="custom-carousel-caption" style="background-color: rgba(53, 156, 203, 0.4);">
            <h1 class="carousel-h1">It Starts with the Perfect Product</h1>
             <p style="carousel-p"><i class="fa fa-quote-left"></i> We have selected the best products for impeccable pirintability, durability and fit. <i class="fa fa-quote-right"></i></p>
            <!--<h1 style="background-color: rgba(250, 250, 250, 0.8 );color:rgb(53, 156, 203);">It Starts with the Perfect Product</h1>-->
            <!-- <h1 style="text-shadow:-1px -1px 0 #000,  1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;  background-color: rgba(250, 250, 250, 0.6 );padding: 0px;">It Starts with the Perfect Product</h1>-->
  </div>
</div>

</div>
<div class="container">
<div style="text-align: center;">
  <!-- <h1>It Starts with the Perfect Product</h1> -->


  <!-- <a href="javascript:;">BROWSE THE PRODUCT CATALOG</a> -->
</div>

<h4 style="text-align: center;margin-top: 8px;"><a href="/artworks">Artworks Gallery</a></h4>
<div class="row" ng-controller="SliderController">
  <div class="well">
    <!-- Carousel -->
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-md-3" ng-repeat="slider in top12_part1">
                <div class="thumbnail">
                      <img src="{{ slider.image }}" alt="Slide11"  height="200">
                    <div class="caption">
                      <center>
                        <p style="margin-bottom: 5px;">
                          <a href="{{ slider.url }}" class="btn btn-success" role="button">View</a>
                          <a href="{{ slider.url }}" class="btn btn-primary" role="button">{{ slider.price| currency }}</a>
                        </p>
                      </center>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="item">
            <div class="row">
              <div class="col-md-3" ng-repeat="slider in top12_part2">
                <div class="thumbnail">
                      <img src="{{ slider.image }}" alt="Slide11"  height="200">
                    <div class="caption">
                      <center>
                        <p style="margin-bottom: 5px;">
                          <a href="{{ slider.url }}" class="btn btn-success" role="button">View</a>
                          <a href="{{ slider.url }}" class="btn btn-primary" role="button">{{ slider.price| currency }}</a>
                        </p>
                      </center>
                    </div>
                </div>
              </div>
          </div>
        </div>

         <div class="item">
            <div class="row">
              <div class="col-md-3" ng-repeat="slider in top12_part3">
                <div class="thumbnail">
                      <img src="{{ slider.image }}" alt="Slide11"  height="200">
                    <div class="caption">
                      <center>
                        <p style="margin-bottom: 5px;">
                          <a href="{{ slider.url }}" class="btn btn-success" role="button">View</a>
                          <a href="{{ slider.url }}" class="btn btn-primary" role="button">{{ slider.price| currency }}</a>
                        </p>
                      </center>
                    </div>
                </div>
              </div>
          </div>
        </div>

        </div>
        <a class="left carousel-control" data-target="#myCarousel" data-slide="prev" style="cursor:pointer;"><i class="fa fa-chevron-left fa-2x"></i></a>
        <a class="right carousel-control" data-target="#myCarousel" data-slide="next" style="cursor:pointer;"><i class="fa fa-chevron-right fa-2x"></i></a>
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      </div>
  </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  $('#myCarousel').carousel({
    interval:   4000
  });
});
</script>

<hr style="margin-bottom: 8px;">

<h4 style="text-align: center;"><a href="/designer/tshirt/american-apparel-50-50-t-shirt">Create Your Own Design</a></h4>
<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <h5 style="text-align: center;">Round Neck</h5>
    <a href="/designer/tshirt/american-apparel-50-50-t-shirt"><img src="/img/model_round_neck.jpg" alt="..." class="img-thumbnail"></a>
  </div>
  <div class="col-md-4">
  <h5 style="text-align: center;">V-Neck</h5>
    <a href="/designer/tshirt/american-apparel-50-50-t-shirt"><img src="/img/model-vneck.jpg" alt="..." class="img-thumbnail"></a>
  </div>
</div>

<hr style="margin-bottom: 8px;">
<h4 style="text-align: center;margin-bottom: 25px;"><a href="/reviews">Customer Reviews</a></h4>

<div class="[ container text-center ]">
  <div class="[ row ]">
    <div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
            <div class="[ col-xs-4 col-sm-12 ]">
                <!-- Nav tabs -->
                <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a data-target="#review1" aria-controls="review1" role="tab" data-toggle="tab">
                            <img class="img-circle" src="/img/yoann.png" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a data-target="#review2" aria-controls="review2" role="tab" data-toggle="tab">
                            <img class="img-circle" src="/img/courtney.png" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a data-target="#review3" aria-controls="review3" role="tab" data-toggle="tab">
                            <img class="img-circle" src="/img/jules.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a data-target="#review4" aria-controls="review4" role="tab" data-toggle="tab">
                            <img class="img-circle" src="/img/tibo.png" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="[ col-xs-8 col-sm-12 ]">
                <!-- Tab panes -->
                <div class="tab-content" id="tabs-collapse">
                    <div role="tabpanel" class="tab-pane fade in active" id="review1">
                        <div class="tab-inner">
                            <p class="lead">I love ShirtNexus! I will order again and have recommended the company to several folks already.</p>
                            <hr>
                            <p><strong class="text-uppercase">Yoann J.</strong></p>
                            <p><em class="text-capitalize"> San Diego, California</em></p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="review2">
                        <div class="tab-inner">
                            <p class="lead">I really appreciated how quickly my order was filled and the fast shipping.</p>
                            <hr>
                            <p><strong class="text-uppercase">Courtney M.</strong></p>
                            <p><em class="text-capitalize"> Glendale, Arizona</em></p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="review3">
                        <div class="tab-inner">
                            <p class="lead">I was very impressed with your rapid order fulfillment. The quality of the shirts I got was just what I wanted, and I've already recommended you to my friends. Like the Terminator - I WILL be back! :)</p>
                            <hr>
                            <p><strong class="text-uppercase">Jules G.</strong></p>
                            <p><em class="text-capitalize"> San Diego, California</em></p>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="review4">
                        <div class="tab-inner">
                            <p class="lead">This order was easy. Extremely fast turn around. I have ordered many other personalized apparell items from other vendors and this was by far my best experience. The item looks fantastic. Thanks</p>
                            <hr>
                            <p><strong class="text-uppercase">Thiébaud E.</strong></p>
                            <p><em class="text-capitalize"> Phoenix, Arizona</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>


<!--
<div class="row">
  <div class="col-xs-6 col-md-3" ng-repeat="product in mainCtrl.productList | limitTo:4">
    <a href="/designer/{{product.category}}/{{product.path}}" class="thumbnail">
      <img src="{{product.image}}" alt="{{product.name}}" style="height: 180px; display: block; background-size: cover;" onerror="if (this.src != 'http://placehold.it/180') this.src = 'http://placehold.it/180';">
      <span class="over-title">{{product.name}}</span>
    </a>
  </div>
</div>-->
<hr>
<!--
<div class="row">
  <div class="col-xs-12">
    <ul class="product-homepage list-inline">
      <li ng-repeat="product in mainCtrl.productCompleteList"><a href="/product?type={{product.path}}">{{product.name}}</a></li>
    </ul>
  </div>
</div>

<hr>
-->

<!--

<img data-src="holder.js/100%x180" alt="100%x180" src="{{product.test}}" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjU5LjU0Njg3NSIgeT0iOTAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNzF4MTgwPC90ZXh0PjwvZz48L3N2Zz4="

-->

</div>

<!--
<footer class="footer">
      <div class="container">
        <div class="social-icons">
          <a href="https://www.facebook.com/stood.laptop.stand" style="background-position:-60px 0; width:30px; height:30px;" class="icon1-class" title="Facebook">&nbsp;</a>
          <a href="https://twitter.com/getstood" style="background-position:0 0; width:30px; height:30px;" class="icon2-class" title="Twitter">&nbsp;</a>
        </div>
        <div class="custom-block">
          <img src="http://shop.stood.it/media/wysiwyg/smartwave/footer/payments.png" alt="" style="max-width: 100%;">
        </div>
        <div class="text-center">
          <ul class="copyright list-unstyled list-inline text-muted">
              <li>Copyright © 2015 ShirtNexus.com</li>
              <li>All Rights Reserved.</li>
          </ul>
        </div>
      </div>
  </footer>
  -->


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top: 25%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Subscribe To Our Newsletter</h4>
      </div>
      <div class="modal-body">
      <form>
          <p> <b>Shirt Nexus will open soon!</b></p>
          <p>If you want to know when everything goes live, and be one of the first to get our amazing products and promos, simply enter your email address</p>
          <p>You will be among the first to know about our new services and special offers</p>

          <div class="form-group row">
            <div class="col-md-9 col-xs-8">
              <input type="text" class="form-control" id="newsletter_email" placeholder="your@email.com" autofocus>
            </div>
              <div class="col-md-3 col-xs-2">
            <button type="button" class="btn btn-success">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  if (typeof get_cookie( "nopopup") === 'undefined' || get_cookie( "nopopup") == '')
    $('#myModal').modal({backdrop: 'static'})
  function set_cookie ( cookie_name, cookie_value, lifespan_in_days, valid_domain ) {
    var domain_string = valid_domain ? ("; domain=" + valid_domain) : '' ;
    document.cookie = cookie_name + "=" + encodeURIComponent( cookie_value ) +
        "; max-age=" + 60 * 60 * 24 * lifespan_in_days +
        "; path=/" + domain_string ;
  }
  function get_cookie ( cookie_name ) {
    var cookie_string = document.cookie ;
    if (cookie_string.length != 0) {
      var cookie_value = cookie_string.match ( '(^|;)[\s]*' + cookie_name + '=([^;]*)' );
      return decodeURIComponent ( cookie_value[2] ) ;
    }
    return '' ;
  }
  function setNoPopUp() {
    set_cookie( "nopopup", "1", 7);
  }
</script>
