<section ng-controller="ProductController" ng-init="getProd()">
  <header class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>{{currentProd.name}}</h1>
          <p class="lead">{{currentProd.page_subtitle}} - <a href="">#{{currentProd.categories}}</a></p>
        </div>
      </div>
  </header>
  <div class="container">
  <hr>
  
    

    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
      <ul class="nav nav-tabs">
      <li class="active"><a showtab="" data-target="#standardNav">Description</a></li>
      <li><a showtab="" data-target="#quickadd">Reviews</a></li>
    </ul>
    <div class="calendarNav tab-pane fade in active" id="standardNav">
    <span ng-bind-html="currentProd.description"></span>
    </div>
    <div id="quickadd" class="tab-pane fade">
        Pane 2
    </div>
        
      </div>

      <div class="col-xs-12 col-md-6">
        <img ng-src="http://cdn.shirtnexus.com/design_thumbnails/{{currentProd.product_variants[selectedVariant].image}}">
        <div><ul class="color-container">
          <li ng-repeat="variant in currentProd.product_variants | unique:'color_hex'" ng-click="setSelectedVariant(currentProd.product_variants.indexOf(variant))" class="color-preview ng-scope" title="{{variant.color_name}}" style="background-color:#{{variant.color_hex}}; {{selectedVariant == currentProd.product_variants.indexOf(variant)?'border: 4px double white;width: 32px;height: 32px;margin-top: 0;':''}}"></li>
        </ul></div>
        <div><select class="form-control" style="width:80px;" ng-model="selectedSize">
          <option ng-repeat="(key, val) in colorSize[currentProd.product_variants[selectedVariant].color_hex]" value="{{key}}">{{key}}</option>
        </select></div>
        <div style="  margin-top: 10px;">
          <a class="btn btn-large btn-success text-center" href="javascript:;"><i class="fa fa-shopping-cart"></i> ADD TO CART - {{colorSize[currentProd.product_variants[selectedVariant].color_hex][selectedSize] | currency}}</a>
          <div class="fb-share-button" data-href="" data-layout="button_count"></div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="Selkuuu">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<a href="//pinterest.com/pin/create/button/?url=&amp;media=http::" data-pin-do="buttonPin" data-pin-config="none">
  <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
</a>
<script async src="//assets.pinterest.com/js/pinit.js"></script>
        </div>
      </div>

      <!--div class="col-xs-12 col-md-6">
        <figure class="text-center">
          <ul rn-carousel rn-carousel-index="indexCarousel" class="image-carousel">
            <li ng-repeat="variant in currentProd.product_variants | uniqueColor">
              <div ng-style="{'background-image': 'url(http://cdn.shirtnexus.com/design_thumbnails/{{variant.image}})'}"  class="bgimage">
              </div>
            </li>
          </ul>
          <div rn-carousel-indicators ng-if="currentProd.product_variants.length > 1" slides="currentProd.product_variants" rn-carousel-index="indexCarousel"></div>
        </figure>
        <a class="btn btn-large btn-success text-center" href="javascript:;"><i class="fa fa-shopping-cart"></i> ADD TO CART - {{currentProd.price | currency}}</a>
      </div-->

    </div>

    <hr />

    <div class="row">

      <blockquote class="col-md-10 col-md-offset-1" ng-repeat="review in currentProd.reviews">
          <p> {{review.desc}} </p>
          <small>{{review.author}}</small>
      </blockquote>
    </div>
  </div>
</section>
