<section ng-controller="ProductController">
  <header class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>{{currentProd.name}}</h1>
          <p class="lead">{{currentProd.subtitle}}</p>
        </div>
      </div>
  </header>
  <div class="container">
  <hr>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <span ng-bind-html="currentProd.description"></span>
      </div>

        <div class="col-xs-12 col-md-6">
          <figure class="text-center">
            <img ng-repeat="img in currentProd.images" ng-src="{{img.path}}" alt="{{img.text}}" class="img-thumbnail" />
          </figure>
          <a class="btn btn-large btn-block btn-success" href="javascript:;"><i class="fa fa-shopping-cart"></i> ADD TO CART - {{currentProd.price}}</a>
        </div>

    </div>

    <hr />

    <div class="row">

      <blockquote class="col-md-10 col-md-offset-1" ng-repeat="review in currentProd.reviews">
          <p> {{review.desc}} </p>
          <small>{{review.author}}</small>
      </blockquote>
    </div>
  </div>
</section>
