<section ng-controller="ProductController" ng-init="getProd()">
  <header class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>{{currentProd.name}}</h1>
          <p class="lead">{{currentProd.page_subtitle}} - <a href="">#{{currentProd.categories}}</a></p>
        </div>
      </div>
  </header>
  <div class="container">
  <hr>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <span ng-bind="currentProd.description"></span>
      </div>

      <div class="col-xs-12 col-md-6">
        <img ng-src="http://cdn.shirtnexus.com/design_thumbnails/{{currentProd.product_variants[selectedVariant].image}}">
        <ul class="color-container">
          <li ng-repeat="variant in currentProd.product_variants | unique:'color_hex'" ng-click="setSelectedVariant(currentProd.product_variants.indexOf(variant))" class="color-preview ng-scope" title="{{variant.color_name}}" style="background-color:#{{variant.color_hex}}; {{selectedVariant == currentProd.product_variants.indexOf(variant)?'border: 3px solid red;':''}}"></li>
        </ul>
        <select ng-options="label for val in colorSize[currentProd.product_variants[selectedVariant].color_hex]">
        </select>
      </div>

      <!--div class="col-xs-12 col-md-6">
        <figure class="text-center">
          <ul rn-carousel rn-carousel-index="indexCarousel" class="image-carousel">
            <li ng-repeat="variant in currentProd.product_variants | uniqueColor">
              <div ng-style="{'background-image': 'url(http://cdn.shirtnexus.com/design_thumbnails/{{variant.image}})'}"  class="bgimage">
              </div>
            </li>
          </ul>
          <div rn-carousel-indicators ng-if="currentProd.product_variants.length > 1" slides="currentProd.product_variants" rn-carousel-index="indexCarousel"></div>
        </figure>
        <a class="btn btn-large btn-success text-center" href="javascript:;"><i class="fa fa-shopping-cart"></i> ADD TO CART - {{currentProd.price | currency}}</a>
      </div-->

    </div>

    <hr />

    <div class="row">

      <blockquote class="col-md-10 col-md-offset-1" ng-repeat="review in currentProd.reviews">
          <p> {{review.desc}} </p>
          <small>{{review.author}}</small>
      </blockquote>
    </div>
  </div>
</section>
