<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px;">
	<li ng-class="{active: tabCtrl.isSet(1)}"><a href ng-click="tabCtrl.setTab(1)">Options</a></li>
	<li ng-class="{active: tabCtrl.isSet(2)}"><a href ng-click="tabCtrl.setTab(2)">Customize</a></li>
	<li ng-class="{active: tabCtrl.isSet(3)}"><a href ng-click="tabCtrl.setTab(3)">Designs</a></li>
</ul>
<div ng-show="tabCtrl.isSet(1)" class="angular-smooth-anim">
	<div class="well well-lg">
		<!--
			<label>Model</label>
			<select class="form-control" ng-model="designerCtrl.selectedProduct" ng-change="designerCtrl.update()">
				<option ng-repeat="product in mainCtrl.productList" value="{{product.productId}}">{{product.name}}</option>
			</select>
		</div>-->

		<div class="form-group">
		<label>Color</label>
		<ul class="color-container">
			<li ng-repeat="color in designerCtrl.colors | orderBy:'hsl.l'" ng-click="designerCtrl.setColor(color.id)" class="color-preview" title="{{color.name}}" style="background-color:{{color.value}};"></li>
		</ul>
		</div>

		<div class="form-group">
			<label>Size</label>
			<select class="form-control" ng-model="designerCtrl.curSelectedSize">
				<option ng-repeat="value in designerCtrl.possibleSizes" value="value">{{value}}</option>
			</select>
		</div>
		<div class="checkbox">
			<label><input id="btnBack" type="checkbox" name="back" value="back" ng-model="designerCtrl.isBackDesign" ng-click="designerCtrl.showFront()"> <b>Design Back</b></label>
		</div>

		<div class="form-group">
			<label>Description</label>
			<p>{{ designerCtrl.selectedDescription }}</p>
		</div>
	</div>
</div>
<div ng-show="tabCtrl.isSet(2)" class="angular-smooth-anim">
	<div class="well well-lg">
		<div class="form-group">
			<div class="input-file-container btn btn-lg btn-primary" style="width:100%"><i class="fa fa-file-picture-o"></i> Add Image<input id="imgLoader" type="file"/></div>
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-primary" type="button" id="crtBtn" style="width:100%"><i class="fa fa-pencil"></i> Add Text</button>
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-primary" type="button" id="delBtn" style="width:100%"><i class="fa fa-trash"></i> Remove</button>
		</div>
	</div>
</div>
<div ng-show="tabCtrl.isSet(3)" class="angular-smooth-anim">
	<div class="well well-lg">
		<div class="form-group">

		</div>
	</div>
</div>
