<h3 class="cart-title"> Price </h3>
<table class="table">
	<tbody>
		<tr>
			<td><span ng-bind="mainCtrl.completeName()"></span></td>
			<td align="right"><span ng-bind="mainCtrl.curSelected.price | currency"></span></td>
		</tr>
		<tr>
			<td>Front Design</td>
			<td align="right"><span ng-bind="mainCtrl.frontPrice | currency"></span></td>
		</tr>
		<tr ng-show="mainCtrl.isBackDesign">
			<td>Back Design</td>
			<td align="right"><span ng-bind="mainCtrl.backPrice | currency"></span></td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td align="right"><strong><span ng-bind="mainCtrl.curSelected.price + mainCtrl.frontPrice + (mainCtrl.isBackDesign == true?mainCtrl.backPrice:0) | currency"></span></strong></td>
		</tr>
	</tbody>
</table>

<button class="btn btn-addcart" ng-click="mainCtrl.addToCart()"><i class="fa fa-shopping-cart"></i> Add to Cart</button>